## 2.4.5 Challenge: Make your own regression model

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import seaborn as sns
%matplotlib inline
from scipy.stats.mstats import winsorize

In [3]:
import math
import warnings

from IPython.display import display
from sklearn import linear_model
import statsmodels.formula.api as smf

In [4]:
df = pd.read_csv("/Users/purva/Desktop/Data Science Boot Camp/table_crime data_csv.csv", header = 1)

In [5]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Unnamed: 13
0,Adams Village,"1,861",0,0,NaN,0,0,0,12,2,10,0,0.0,NaN
1,Addison Town and Village,"2,577",3,0,NaN,0,0,3,24,3,20,1,0.0,NaN
2,Akron Village,"2,846",3,0,NaN,0,0,3,16,1,15,0,0.0,NaN
3,Albany,"97,956",791,8,NaN,30,227,526,"4,090",705,"3,243",142,NaN,NaN
4,Albion Village,"6,388",23,0,NaN,3,4,16,223,53,165,5,NaN,NaN

In [6]:
df['Population'] = (df['Population']).str.replace(',','')
df['Population'] = (df['Population']).astype(int)
df['Robbery'] = (df['Robbery']).str.replace(',','')
df['Robbery'] = (df['Robbery']).astype(int)

In [7]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Unnamed: 13
0,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0.0,NaN
1,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0.0,NaN
2,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0.0,NaN
3,Albany,97956,791,8,NaN,30,227,526,"4,090",705,"3,243",142,NaN,NaN
4,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN,NaN

## Feature for population square

In [8]:
df['pop_square'] = df['Population']*df['Population']

## Feature for Robbery and Murder

In [9]:
df['feature_Robbery'] = df['Robbery']
df.loc[df['feature_Robbery'] > 0, 'feature_Robbery'] = 1

In [10]:
df['feature_Murder'] = df['Murder and\nnonnegligent\nmanslaughter']
df.loc[df['feature_Murder'] > 0, 'feature_Murder'] = 1

## Building Model

In [11]:
# Display preferences.
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

# Suppress annoying harmless error.
warnings.filterwarnings(
    action="ignore",
    module="scipy",
    message="^internal gelsd"
)

In [12]:
regr = linear_model.LinearRegression()
Y = df['Property\ncrime'].values.reshape(-1,1)
X = df[['pop_square','feature_Robbery','feature_Murder']]
regr.fit(X,Y)
print('\nCoefficients: ', regr.coef_)
print('\nIntercept: ', regr.intercept_)
print('\nR-squared:')
print(regr.score(X, Y))

ValueError: could not convert string to float: '2,368'